.desktop {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;

  &-programs {
    display: flex;
  }

  &-program {
    color: $dark;
    display: block;
    height: 92px;
    margin: 8px;
    padding: 8px;
    text-align: center;
    width: 92px;

    &:focus,
    &:active {
      outline: 1px dotted $dark;
    }
  }
}
