$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$enable-rounded: false;
$btn-padding-y: .3rem;
$btn-padding-x: .3rem;
$btn-line-height: 1.25em;
$body-bg: #c0c0c0;
$primary: #000080;
$secondary: #c0c0c0;
$dropdown-divider-margin-y: 12px;
$nav-divider-margin-y: 0;
$dropdown-padding-y:0;

